.main-container {
  display: flex;
  justify-content: space-between;
}

.fname {
  margin-left: 35px;
}

.lname {
  margin-left: 2px;
}

.age {
  margin-left: 10px;
}

.course {
  margin-left: 31px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px 5px 2px 5px;
}